<ul id="lists">
  <% @dogs.each do |dog| %>
    <li>
      <a>
        <h2><%= dog[:name] %></h2>
        <p><%= dog[:attributes].size %></p>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/dogs/new">Add New Dog</a>
<% end %>