<form action="/dogs" method="post">
  <d1>
    <dt>
      <label for="dog_name">Enter the name for your new dog:</label>
    </dt>
    <dd>
      <input name="dog_name" placeholder="Dog Name" type="text" value="">
    </dd>
  </d1>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/dogs">Cancel</a>
  </fieldset>
</form>